// font
$font: "Inter", sans-serif;

// font-sizes
$font-h1: 23px;
$font-h2: 17px;
$font-paragraph: 15px;
$font-sub-title: 14px;
$font-small: 12px;
$font-tiny: 10px;

// Grayscale
$white: #ffffff;
$background: #f7fbff;
$lightBlue: #eff5fc;
$grey: #eeeef0;
$greyDark: #959595;
$offBlack: #232323;
$black: #000000;
// Main
$primary: #002f5c;
$pink: #de016a;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);

// border radius
$border-radius: 14px;

// spacing
$spacing1: 0.25rem;
$spacing2: 0.5rem;
$spacing3: 0.75rem;
$spacing4: 1rem;
$spacing5: 1.25rem;
$spacing6: 1.5rem;
$spacing7: 1.75rem;
$spacing8: 2rem;
$spacing9: 2.5rem;
$spacing10: 3rem;
$spacing11: 4rem;
$spacing12: 6rem;
$spacing13: 7rem;
$spacing14: 8rem;
$spacing15: 12rem;
$spacing16: 16rem;
$spacing17: 24rem;
$spacing18: 30rem;
$spacing19: 48rem;
